@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  background-color: #FAFAF7;
  color: #222222;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.card-skeleton {
  @apply animate-pulse bg-gray-200 rounded-md h-40;
}
